stages:
  - validate
  - test
  - build
  - deploy


docker-build:
  stage: build
  image: docker:24.0
  services:
    - docker:24.0-dind
  before_script:
    - docker login -u "$DOCKER_USER" -p "$DOCKER_PASSWORD" "$DOCKER_REGISTRY"
  script:
    - docker build -t "$DOCKER_REGISTRY/my-app:$CI_COMMIT_SHA" .
    - docker push "$DOCKER_REGISTRY/my-app:$CI_COMMIT_SHA"
 


deploy-server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H "$SSH_HOST" >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - ssh "$SSH_USER@$SSH_HOST" "
        docker login -u '$DOCKER_USER' -p '$DOCKER_PASSWORD' '$DOCKER_REGISTRY' &&
        docker pull '$DOCKER_REGISTRY/my-app:$CI_COMMIT_SHA' &&
        docker stop my-app || true &&
        docker rm my-app || true &&
        docker run -d --name my-app -p 8080:8080 '$DOCKER_REGISTRY/my-app:$CI_COMMIT_SHA'
      "
  environment:
    name: production
    url: http://localhost:8080  
 